<label for="password">Password:</label><br>
<div class="password-field">
    <input [type]="showPassword ? 'text' : 'password'" id="password" [(ngModel)]="password" (input)="checkPasswordStrength()" autofocus>
    <button class="reveal-button" (click)="togglePasswordVisibility()">
      <img class="icon" [src]="showPassword ? '/assets/open.svg' : '/assets/closed.svg'"/>
    </button>
  </div>
<div id="strength-indicator">
  <div id="easy" class="section" [style.background-color]="strengthColor[0]" data-tooltip="Easy"></div>
  <div id="medium" class="section" [style.background-color]="strengthColor[1]"data-tooltip="Medium"></div>
  <div id="strong" class="section" [style.background-color]="strengthColor[2]" data-tooltip="Strong"></div>
</div>
<div class="feedback-message">{{ feedbackMessage }}</div>
