.section {
  width: 15px;
  height: 15px;
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.section:hover {
  transform: scale(1.1);
}

.section::before {
  content: attr(data-tooltip);
  background: rgba(68, 67, 67, 0.8);
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.section:hover::before {
  opacity: 1;
  visibility: visible;
}
