.password-field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
  }
.reveal-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
.icon {
    width: 24px;
    height: 24px;
}